<%= render layout: 'layouts/application' do %>
  <% if user_signed_in? %>
    welcome <%= current_user.email %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
  <%= yield %>
  <div id="wrapper">
    <!-- Navigation -->
    <%#= render 'layouts/navigation' %>

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

      <!-- Page wrapper -->
      <%#= render 'layouts/topnavbar' %>

      <div class="wrapper wrapper-content animated fadeInRight">
        <% flash.each do |type, msg| %>
          <div class="<%= flash_class(type) %>">
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>
      </div>

    </div>

  </div>

  <%#= render 'layouts/footer' %>
<% end %>
